@import "./common.scss";

.policy {
    &__title {
        margin-bottom: 20px;

        @media (max-width: $md3) {
            font-size: 20px;
        }
    }

    &__section {
        margin-bottom: 20px;

        h2 {
            margin-bottom: 10px;

            @media (max-width: $md3) {
                font-size: 18px;
            }
        }

        p {
            margin-bottom: 10px;
            text-align: justify;

            @media (max-width: $md3) {
                font-size: 14px;
                line-height: 1rem;
            }
        }

        ul {
            margin-left: 20px;
            margin-bottom: 10px;

            @media (max-width: $md3) {
                font-size: 14px;
            }
        }
    }
}
