@import "./common.scss";

.productPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md2) {
        flex-wrap: wrap;
    }

    &__img {
        flex: 0 0 60%;
        text-align: center;
        img {
            max-width: 100%;
            min-height: 100%;
            object-fit: contain;
            padding: 0px 20px;
            cursor: pointer;
            @media (max-width: $md3) {
                padding: 0;
            }
        }
        @media (max-width: $md1) {
            flex: 0 0 40%;
        }
        @media (max-width: $md2) {
            flex: 0 0 100%;
        }
    }
    &__infoColumn {
        flex: 0 0 20%;
        @media (max-width: $md1) {
            flex: 0 0 30%;
        }
        @media (max-width: $md2) {
            flex: 0 0 50%;
        }
        @media (max-width: $md3) {
            flex: 0 0 100%;
        }
    }
    &__ratingBlock {
        margin: 0px 0px 10px 0px;
        font-weight: bold;
        text-align: center;
    }
    &__votes {
        border-bottom: 1px solid $gold;
    }
    &__card {
        padding: 20px;
        border: 1px solid $gray;
        @media (max-width: $md2) {
            border: none;
            text-align: center;
        }
    }
    &__priceBlock {
        font-weight: bold;
    }
    &__price {
        font-size: 26px;
        font-weight: bold;
        margin: 0px 10px 0px 0px;
    }
    &__oldPrice {
        color: #788497;
        text-decoration: line-through;
    }
    &__button {
        margin: 20px 0px;
    }
    &__logistics {
        flex: 0 0 20%;
        @media (max-width: $md1) {
            flex: 0 0 30%;
        }
        @media (max-width: $md2) {
            flex: 0 0 50%;
            text-align: center;
        }
        @media (max-width: $md3) {
            flex: 0 0 100%;
        }
    }
    &__sendBlock {
        margin: 0 40px;
        @media (max-width: $md2) {
            margin: 0 10px;
        }
        padding: 10px 0px;
        &:not(&:last-child) {
            border-bottom: 1px solid #000;
        }
        p {
            margin: 0;
            &:nth-child(1) {
                font-weight: bold;
            }
            &:nth-child(2) {
                font-weight: bold;
                color: red;
            }
        }
    }
}
