@import "./common.scss";

.refund {
    &__title {
        margin-bottom: 20px;
    }

    &__section {
        margin-bottom: 20px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
            text-align: justify;
        }
    }
}
